.vxe-header--column {
  & > .vxe-cell {
    padding-right: 0;
    padding-left: 0;
  }
}

.vxe-body--column {
  &.col--seq {
    & > .vxe-cell {
      padding-right: 0;
      padding-left: 0;
    }
  }
}
